.main-info {
  font-family: SF Pro Display;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(214, 214, 214, 0.075);
  width: 500px;
  padding: 20px 0;
  gap: 10px;
  background-image: url("../../../assets/Vector.svg");
}

.main-info img {
  border-radius: 100%;
}

.name {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-align: left;
  text-decoration-skip-ink: none;
}

.nick {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-decoration-skip-ink: none;
  opacity: 75%;
}

.desc {
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.4000000059604645px;
  text-align: center;
}

.separator {
  height: 2px;
  width: 95%;
  border-top: 1px solid black;
  opacity: 29%;
}

.location {
  font-size: 19px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: center;
  display: flex;
  gap: 10px;
}

.svg {
  filter: invert(28%) sepia(1%) saturate(240%) hue-rotate(314deg)
    brightness(101%) contrast(79%);
}

.main-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
}
